.container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 6rem auto 6rem;
}

.logo{
  position: fixed;
  left: 50px;
  top: 50px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerImage {
  width: 6rem;
  height: 6rem;
}

.headerHomeImage {
  width: 8rem;
  height: 8rem;
}
