/*=====================
 variables scss
==========================*/
$black: #000000;
$white: #ffffff;
$all-font-color: #414042;
$default-color: rgba(0, 67, 66, 0.75);
$light-font: #909ba7;
$border-color: rgba(65, 64, 66, 0.25);
$danger: #F75151;
